body{

 background-color:red;
}



.tbl-record {
	font-size: 30px;
}
.color1{
	color:#red;
	
}
.color2{
	color:#dddddd;
}
.color3{
	 color:red;
}
.color4{
      color:#red;
}
.color5{
	color:#cccccc;
}
.color1{
	color:#blue;
}
.color2{
      color:#pink;
}
.color3{
      color:#yellow;
}
.color4{
      color:#red;
}
.color5{
      color:#brown;
}
.color1{
      color:#blue;	
}
.color2{
      color:#pink;
}
.color3{
	color:#yellow;
}
.color4{
	color:#red;
}
.color5{
	color:#brown;
}
	  